* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
}

.first,.second {
    position: absolute;
    width: 50%;
    height: 100%;
    background-size: 100vw 100vh;
}

.first {
    top: 0;
    left: 0;
    background-image: url('./img1.png');
    z-index: 2;
    border-right: 10px solid #fff;
}

.second {
    top: 0;
    right: 0;
    width: 100%;
    background-image: url('./img2.png');
}

